---

name: Book CI
on: [push, pull_request]

env:
  MDBOOK_VERSION: "0.4.14"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Download mdBook ${{ env.MDBOOK_VERSION }}
        run: |
          mkdir -p /tmp/mdbook
          curl -Lo- https://github.com/rust-lang/mdBook/releases/download/v${{ env.MDBOOK_VERSION }}/mdbook-v${{ env.MDBOOK_VERSION }}-x86_64-unknown-linux-gnu.tar.gz | tar -C /tmp/mdbook -xzv

      - name: Build the contents of the book
        run: /tmp/mdbook/mdbook build book/ -d /tmp/book

      - name: Upload GitHub Pages content
        uses: actions/upload-pages-artifact@v1
        with:
          path: /tmp/book

  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    needs: [build]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
        id: deployment
