---
name: Book CI
on:
  push:
    paths:
      - "book/"
      - "book/**"
      - ".github/workflows/book.yml"
      - "**book**"
  pull_request:
    paths:
      - "book/"
      - "book/**"
      - ".github/workflows/book.yml"
      - "**book**"

env:
  MDBOOK_VERSION: "0.4.28"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Install Python dependencies
        run: |
          pip3 install --user python-dateutil linkchecker
      - name: Put pip binary directory into path
        run: echo "~/.local/bin" >> $GITHUB_PATH

      - name: Download mdBook ${{ env.MDBOOK_VERSION }}
        run: |
          mkdir -p /tmp/mdbook
          curl -Lo- https://github.com/rust-lang/mdBook/releases/download/v${{ env.MDBOOK_VERSION }}/mdbook-v${{ env.MDBOOK_VERSION }}-x86_64-unknown-linux-gnu.tar.gz | tar -C /tmp/mdbook -xzv

      - name: Build the contents of the book
        run: /tmp/mdbook/mdbook build book/ -d /tmp/book

      - name: Check links
        run: linkchecker book

      - name: Upload GitHub Pages content
        uses: actions/upload-pages-artifact@v2
        with:
          path: /tmp/book

  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    needs: [build]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2
        id: deployment
